.btn-link {
    text-decoration: none;
}

.table-user {
    width: 100%;
    overflow-x: hidden;
}
td {
    padding: 0px 6px;
}
.td-center {
    text-align: center;
}
.td-right {
    text-align: right;
}
.item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}